#LogoWindow QLabel[class=title] {
    font-size: 64px;
    font-family: "Fredericka the Great";
}

QLabel[class=subtitle] {
    font-family: "Yoster Island";
    font-size: 20px;
    color: #666666;
}

QTextEdit {
    font-family: "DPComic";
    font-size: 30px;
}
